name: Tests

on:
  push:
    branches: main
  pull_request:
    branches: '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ui-tests:
    name: ui-tests
    runs-on: ubuntu-latest

    env:
      PLAYWRIGHT_BROWSERS_PATH: ${{ github.workspace }}/pw-browsers

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Install the extension
        run: |
          set -eux
          pip install "jupyterlab>=4.5.0"
          pip install -e ".[test]"

      - name: Setup Ollama
        uses: ai-action/setup-ollama@6dbbafb345a2e0b94c4ade700f24858c927ef250

      - run: ollama --version
        shell: bash

      - name: Cache model
        id: cache-ollama-models
        uses: actions/cache@v5
        with:
          path: ~/.ollama
          key: ollama-cache-2026-01-20

      - name: Install qwen2.5:0.5b and functiongemma model
        if: steps.cache-ollama-model.outputs.cache-hit != 'true'
        run: |
          ollama pull qwen2.5:0.5b
          ollama pull functiongemma

      - name: Install tests dependencies
        working-directory: ui-tests
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: 0
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
        run: jlpm install

      - name: Set up browser cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/pw-browsers
          key: ${{ runner.os }}-${{ hashFiles('ui-tests/yarn.lock') }}

      - name: Install browser
        run: jlpm playwright install chromium
        working-directory: ui-tests

      - name: Execute integration tests
        working-directory: ui-tests
        run: |
          jlpm test --retries=2

      - name: Upload Playwright Test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jupyterlite-ai-ui-tests-report-${{ github.run_id }}
          path: |
            ui-tests/test-results
            ui-tests/playwright-report
