name: Tests

on:
  push:
    branches: main
  pull_request:
    branches: '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ui-tests:
    name: ui-tests
    runs-on: ubuntu-latest

    env:
      PLAYWRIGHT_BROWSERS_PATH: ${{ github.workspace }}/pw-browsers

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Install the extension
        run: |
          set -eux
          pip install "jupyterlab>=4.5.0"
          pip install -e ".[test]"

      - name: Install Ollama with qwen2.5:0.5b model
        uses: ai-action/ollama-action@be18a6c5c9977cc0510d1d705edd02d574269c93
        with:
          model: qwen2.5:0.5b

      - name: Install functiongemma model
        uses: ai-action/ollama-action@v2
        with:
          model: functiongemma

      - name: Install tests dependencies
        working-directory: ui-tests
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: 0
          PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
        run: jlpm install

      - name: Set up browser cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ github.workspace }}/pw-browsers
          key: ${{ runner.os }}-${{ hashFiles('ui-tests/yarn.lock') }}

      - name: Install browser
        run: jlpm playwright install chromium
        working-directory: ui-tests

      - name: Execute integration tests
        working-directory: ui-tests
        run: |
          jlpm test --retries=2

      - name: Upload Playwright Test report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jupyterlite-ai-ui-tests-report-${{ github.run_id }}
          path: |
            ui-tests/test-results
            ui-tests/playwright-report
